.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.ipynb_checkpoints
*/.ipynb_checkpoints/*

visualization/.ipynb_checkpoints
*/.ipynb_checkpoints/*

empty_values/.ipynb_checkpoints
Algoirthms/.ipynb_checkpoints
LinearRegression/.idea
